* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	justify-content: center;
	background: #1B2473;
	height: 100vh;
}

.wrapper-form {
	background: #FFFFFF;
	width: 600px;
	height: 412px;
	border-radius: 20px;
	margin-top: 82px;
	text-align: center;
	padding-top: 26px;
	font-family: Roboto;
	color: #787878;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.wrapper-form__title {
	font-size: 50px;
}

.wrapper-form__email {
	padding-top: 17px;
	
}

.wrapper-form__password {
	padding-top: 13px;

}

.wrapper-form__name {
	font-size: 16px;
	height: 16px;
	text-align: left;
	padding-left: 53px;
	margin-bottom: 3px;

}

.wrapper-form__input {
	border-radius: 10px;
	width: 509px;
	height: 49px;
	font-size: 28px;
}

::placeholder {
	color: #CCCCCC;
}

.wrapper-form__input:defined {
	font-weight: bold; 
	color: #787878;
}

.wrapper-form__checkbox-wrapper {
	position: relative;
	width: fit-content;
	display: flex;
	padding-top: 16px;
}

.wrapper-form__checkbox {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
}

.wrapper-form__checkbox-mark {
	width: 24px;
	height: 24px;
	font-size: 14px;
	background: #FFFFFF;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 7px;
	margin-left: 45px;
	margin-right: 10px;
}

.wrapper-form__checkbox-label {
	margin-top: auto;
	margin-bottom: auto;
}

.wrapper-form__checkbox:checked + .wrapper-form__checkbox-mark {
	background: #787878;
}


.wrapper-form__button-submit {
	background-color: #1A226B;
	width: 180px;
	height: 52px;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 24px;
	margin-top: 56px;

}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.wrapper {
		padding: 20px;
	}

	.wrapper-form {
		width: 100%;
		height: 100%;
		margin-top: 0;
	}

	.wrapper-form__title {
		font-size: 60px;
	}

	.wrapper-form__input {
		border-radius: 10px;
		width: 85%;
		height: 49px;
	}

	.wrapper-form__checkbox-mark {
		width: 32px;
		height: 32px;
		font-size: 18px;
	}


	.wrapper-form__button-submit {
		font-size: 32px;
		width: 220px;
		height: 80px;
		margin-bottom: 242px;
	}

}