.header {
	position: fixed;
	background: #590bff;
	height: 150px;
	width: 100%;
	top: 0;
	z-index: 1;
}

.header h1 {
	font-family: Arial;
	color: #ffffff;
	display: block;
	padding-top: 70px;
	padding-left: 10px;
}

.sidebar {
	margin: 10px;
	padding: 10px;
	width: 250px;
	background-color: #f1f1f1;
	position: fixed;
	height: 250px;
	top: 150px;
	
}

.sidebar h2 {
	font-family: Arial;
	color: #050505;

}

.sidebar a {
	display: block;
	font-family: Arial;
	color: #ed7c2b;
	padding: 16px;

}

.block {
	position: absolute;
	top: 160px;
	left: 300px;
	width: 100%;
}

.section {
	list-style-type: none;
	font-family: Arial;
}

.section h3 {
	background: #590bff;
	color: #ffffff; 
	position: sticky;
	top: 150px;
	display: block;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}