.header {
	color: 	#A52A2A;
	font-family: "Open Sans";
	text-align: center;
}

.section {
	display: flex;
	flex-wrap: wrap;
}

.item {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #808080;
   font-family: "Open Sans";
}

.item img {
   display: block;
   width: 100%;
   height: 300px;
}

.item-name {
   background: #C0C0C0;
   padding: 15px 0;
}

.item-name h3 {
   font-size: 20px;
   font-weight: 400;
   color: #2F4F4F;
   margin: 0 0 10px 0;
}

.price {
   font-size: 18px;
   color: #A52A2A;
   display: block;
   margin-bottom: 12px;
}

.description{
	font-size: 13px;
   font-weight: 400;
   color: #000000;
   margin: 0 10px 10px 0;
}

.button {
   display: inline-block;
   padding: 0 12px;
   background: #A52A2A;
   color: #FFFFFF;
   font-size: 14px;
   line-height: 28px;
}

